In [114]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [115]:
df = pd.read_csv("UCI_Credit_Card.csv", names = ["ID","LIMIT_BAL","SEX","EDUCATION","MARRIAGE","AGE","PAY_0","PAY_2","PAY_3","PAY_4","PAY_5","PAY_6","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6","default.payment.next.month"])
df = df.drop([0])
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

# Conteúdo Original

## A base possui 30k itens e 25 atributos

* **ID**: ID of each client
* **LIMIT_BAL**: Amount of given credit in NT dollars (includes individual and family/supplementary credit
* **SEX**: Gender (1=male, 2=female)
* **EDUCATION**: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)
* **MARRIAGE**: Marital status (1=married, 2=single, 3=others)
* **AGE**: Age in years
* **PAY_0**: Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, ... 8=payment delay for eight months, 9=payment delay for nine months and above)
* **PAY_2**: Repayment status in August, 2005 (scale same as above)
* **PAY_3**: Repayment status in July, 2005 (scale same as above)
* **PAY_4**: Repayment status in June, 2005 (scale same as above)
* **PAY_5**: Repayment status in May, 2005 (scale same as above)
* **PAY_6**: Repayment status in April, 2005 (scale same as above)
* **BILL_AMT1**: Amount of bill statement in September, 2005 (NT dollar)
* **BILL_AMT2**: Amount of bill statement in August, 2005 (NT dollar)
* **BILL_AMT3**: Amount of bill statement in July, 2005 (NT dollar)
* **BILL_AMT4**: Amount of bill statement in June, 2005 (NT dollar)
* **BILL_AMT5**: Amount of bill statement in May, 2005 (NT dollar)
* **BILL_AMT6**: Amount of bill statement in April, 2005 (NT dollar)
* **PAY_AMT1**: Amount of previous payment in September, 2005 (NT dollar)
* **PAY_AMT2**: Amount of previous payment in August, 2005 (NT dollar)
* **PAY_AMT3**: Amount of previous payment in July, 2005 (NT dollar)
* **PAY_AMT4**: Amount of previous payment in June, 2005 (NT dollar)
* **PAY_AMT5**: Amount of previous payment in May, 2005 (NT dollar)
* **PAY_AMT6**: Amount of previous payment in April, 2005 (NT dollar)
* **default.payment.next.month**: Default payment (1=yes, 0=no)

In [116]:
print("Default Credit Card Clients data -  rows:",df.shape[0]," columns:", df.shape[1])

Default Credit Card Clients data -  rows: 30000  columns: 25

In [117]:
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000,...,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000
unique,30000,81,2,7,4,56,11,11,11,11,...,21548,21010,20604,7943,7899,7518,6937,6897,6939,2
top,11008,50000,2,2,2,29,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
freq,1,3365,18112,14030,15964,1605,14737,15730,15764,16455,...,3195,3506,4020,5249,5396,5968,6408,6703,7173,23364

# Não há nenhum valor ausente. Todos os atributos estão preenchidos para todos os itens

In [118]:
total = df.isnull().sum().sort_values(ascending = False)
percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
pd.concat([total, percent], axis=1, keys=['Total', 'Percent']).transpose()

,default.payment.next.month,PAY_6,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,ID
Total,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Corrigindo o atributo Marriage
Trata-se de um atributo categórico em que 0 signfica desconhecido. Para os que não se sabe o status de relacionamento, serão substituídos por 3, que significa "outros".

In [119]:
df['MARRIAGE'] = df['MARRIAGE'].apply(lambda x: 3 if x==0 else x)

# Corrigindo atributo Education
1. Trata-se de um atributo categórico em que 5 e 6 significam desconhecido. Os casos em que que não se sabe o grau de escolaridade, serão substrituídos por 4 que significa "outros".
2. Será feita uma normalização transoformando os atributos categóricos em binários, criando 4 colunas referentes a educação

In [120]:
df['EDUCATION'] = df['EDUCATION'].apply(lambda x: 4 if (x==5 or x==6) else x)

In [121]:
#  EDUCATION: (1=graduate school, 2=university, 3=high school, 4=others)
EDU_graduateschool = df['EDUCATION'].astype(int).apply(lambda x: 1 if x == 1 else 0)
EDU_university = df['EDUCATION'].astype(int).apply(lambda x: 1 if x == 2 else 0)
EDU_highschool = df['EDUCATION'].astype(int).apply(lambda x: 1 if x == 3 else 0)
EDU_others = df['EDUCATION'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df = df.drop(['EDUCATION'], axis=1)
df['EDU_graduateschool'] = EDU_graduateschool
df['EDU_university'] = EDU_university
df['EDU_highschool'] = EDU_highschool
df['EDU_others'] = EDU_others

# Normalizando BILL's, PAY's, AGE e LIMIT_BAL
Primeiramente, é preciso verificar qual o tamanho máximo para poder dividir todos os elementos da coluna por ele. Dessa forma, os valores da coluna ficariam entre -1 e 1.

In [122]:
max_BILL_AMT1 = df['BILL_AMT1'].astype(float).max()
max_BILL_AMT2 = df['BILL_AMT2'].astype(float).max()
max_BILL_AMT3 = df['BILL_AMT3'].astype(float).max()
max_BILL_AMT4 = df['BILL_AMT4'].astype(float).max()
max_BILL_AMT5 = df['BILL_AMT5'].astype(float).max()
max_BILL_AMT6 = df['BILL_AMT6'].astype(float).max()
max_PAY_AMT1 = df['PAY_AMT1'].astype(float).max()
max_PAY_AMT2 = df['PAY_AMT2'].astype(float).max()
max_PAY_AMT3 = df['PAY_AMT3'].astype(float).max()
max_PAY_AMT4 = df['PAY_AMT4'].astype(float).max()
max_PAY_AMT5 = df['PAY_AMT5'].astype(float).max()
max_PAY_AMT6 = df['PAY_AMT6'].astype(float).max()
max_AGE = df['AGE'].astype(float).max()
max_LIMIT_BAL = df['LIMIT_BAL'].astype(float).max()

In [123]:
df['BILL_AMT1'] = df['BILL_AMT1'].astype(float).apply(lambda x: (x/max_BILL_AMT1))
df['BILL_AMT2'] = df['BILL_AMT2'].astype(float).apply(lambda x: (x/max_BILL_AMT2))
df['BILL_AMT3'] = df['BILL_AMT3'].astype(float).apply(lambda x: (x/max_BILL_AMT3))
df['BILL_AMT4'] = df['BILL_AMT4'].astype(float).apply(lambda x: (x/max_BILL_AMT4))
df['BILL_AMT5'] = df['BILL_AMT5'].astype(float).apply(lambda x: (x/max_BILL_AMT5))
df['BILL_AMT6'] = df['BILL_AMT6'].astype(float).apply(lambda x: (x/max_BILL_AMT6))
df['PAY_AMT1'] = df['PAY_AMT1'].astype(float).apply(lambda x: (x/max_PAY_AMT1))
df['PAY_AMT2'] = df['PAY_AMT2'].astype(float).apply(lambda x: (x/max_PAY_AMT2))
df['PAY_AMT3'] = df['PAY_AMT3'].astype(float).apply(lambda x: (x/max_PAY_AMT3))
df['PAY_AMT4'] = df['PAY_AMT4'].astype(float).apply(lambda x: (x/max_PAY_AMT4))
df['PAY_AMT5'] = df['PAY_AMT5'].astype(float).apply(lambda x: (x/max_PAY_AMT5))
df['PAY_AMT6'] = df['PAY_AMT6'].astype(float).apply(lambda x: (x/max_PAY_AMT6))
df['AGE'] = df['AGE'].astype(int).apply(lambda x: (x/max_AGE))
df['LIMIT_BAL'] = df['LIMIT_BAL'].astype(float).apply(lambda x: (x/max_LIMIT_BAL))

# Normalizando SEX
Para todos que são 2, significando "feminino", será posto 0, ficando com 1 para masculino e 0 para feminino.

In [124]:
df['SEX'] = df['SEX'].astype(int).apply(lambda x: 0 if x == 2 else x)

# Normalizando Marriage
Criando colunas para cada tipo de status Status_married, Status_single, Status_others.

In [125]:
# Marital status (1=married, 2=single, 3=others)
Status_married = df['MARRIAGE'].astype(int).apply(lambda x: 1 if x == 1 else 0)
Status_single = df['MARRIAGE'].astype(int).apply(lambda x: 1 if x == 2 else 0)
Status_others = df['MARRIAGE'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df = df.drop(['MARRIAGE'], axis=1)
df['Status_married'] = Status_married
df['Status_single'] = Status_single
df['Status_others'] = Status_others

In [126]:
df

,ID,LIMIT_BAL,SEX,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT5,PAY_AMT6,default.payment.next.month,EDU_graduateschool,EDU_university,EDU_highschool,EDU_others,Status_married,Status_single,Status_others
1,1,0.02,0,0.303797,2,2,-1,-1,-2,-2,...,0.000000,0.000000,1,0,1,0,0,1,0,0
2,2,0.12,0,0.329114,-1,2,0,0,0,2,...,0.000000,0.003783,1,0,1,0,0,0,1,0
3,3,0.09,0,0.430380,0,0,0,0,0,0,...,0.002345,0.009458,0,0,1,0,0,0,1,0
4,4,0.05,0,0.468354,0,0,0,0,0,0,...,0.002506,0.001892,0,0,1,0,0,1,0,0
5,5,0.05,1,0.721519,-1,0,-1,0,0,0,...,0.001615,0.001284,0,0,1,0,0,1,0,0
6,6,0.05,1,0.468354,0,0,0,0,0,0,...,0.002345,0.001513,0,1,0,0,0,0,1,0
7,7,0.50,1,0.367089,0,0,0,0,0,0,...,0.032237,0.026047,0,1,0,0,0,0,1,0
8,8,0.10,0,0.291139,0,-1,-1,0,0,-1,...,0.003955,0.002917,0,0,1,0,0,0,1,0
9,9,0.14,0,0.354430,0,0,2,0,0,0,...,0.002345,0.001892,0,0,0,1,0,1,0,0
10,10,0.02,1,0.443038,-2,-2,-2,-2,-1,-1,...,0.002631,0.000000,0,0,0,1,0,0,1,0
11,11,0.20,0,0.430380,0,0,2,0,0,-1,...,0.008764,0.000125,0,0,0,1,0,0,1,0
12,12,0.26,0,0.645570,-1,-1,-1,-1,-1,2,...,0.000000,0.006885,0,1,0,0,0,0,1,0
13,13,0.63,0,0.518987,-1,0,-1,-1,-1,-1,...,0.006729,0.000000,0,0,1,0,0,0,1,0
14,14,0.07,1,0.379747,1,2,2,0,0,2,...,0.003517,0.000000,1,0,1,0,0,0,1,0
15,15,0.25,1,0.367089,0,0,0,0,0,0,...,0.007034,0.005675,0,1,0,0,0,0,1,0
16,16,0.05,0,0.291139,1,2,0,0,0,0,...,0.003048,0.002081,0,0,0,1,0,0,0,1
17,17,0.02,1,0.303797,0,0,2,2,2,2,...,0.003868,0.000000,1,1,0,0,0,0,1,0
18,18,0.32,1,0.620253,0,0,0,-1,-1,-1,...,0.458583,0.094578,0,1,0,0,0,1,0,0
19,19,0.36,0,0.620253,1,-2,-2,-2,-2,-2,...,0.000000,0.000000,0,1,0,0,0,1,0,0
20,20,0.18,0,0.367089,1,-2,-2,-2,-2,-2,...,0.000000,0.000000,0,1,0,0,0,0,1,0
21,21,0.13,0,0.493671,0,0,0,0,0,-1,...,0.002180,0.063866,0,0,0,1,0,0,1,0
22,22,0.12,0,0.493671,-1,-1,-1,-1,-1,-1,...,0.000741,0.000000,1,0,1,0,0,1,0,0
23,23,0.07,0,0.329114,2,0,0,2,2,2,...,0.000000,0.003443,1,0,1,0,0,0,1,0
24,24,0.45,0,0.506329,-2,-2,-2,-2,-2,-2,...,0.000000,0.002134,1,1,0,0,0,1,0,0
25,25,0.09,1,0.291139,0,0,0,-1,0,0,...,0.004795,0.003783,0,1,0,0,0,0,1,0
26,26,0.05,1,0.291139,0,0,0,0,0,0,...,0.002490,0.001886,0,0,0,1,0,0,1,0
27,27,0.06,1,0.341772,1,-2,-1,-1,-1,-1,...,0.000000,0.001892,1,1,0,0,0,0,1,0
28,28,0.05,0,0.379747,0,0,0,0,0,0,...,0.002345,0.001914,0,0,0,1,0,0,1,0
29,29,0.05,0,0.594937,-1,-1,-1,-1,-1,-1,...,0.000603,0.000000,0,0,0,1,0,1,0,0
30,30,0.05,1,0.329114,0,0,0,0,0,0,...,0.003751,0.000000,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29971,29971,0.36,1,0.430380,-1,-1,-1,0,0,-1,...,0.045915,0.030416,0,1,0,0,0,1,0,0
29972,29972,0.08,1,0.455696,0,0,0,0,0,0,...,0.008675,0.005675,0,0,0,1,0,1,0,0
29973,29973,0.19,1,0.468354,0,0,0,0,0,-1,...,0.348117,0.009079,0,1,0,0,0,1,0,0
29974,29974,0.23,1,0.443038,1,-2,-2,-2,-2,-2,...,0.000000,0.000000,1,0,1,0,0,1,0,0
29975,29975,0.05,1,0.468354,1,2,2,2,0,0,...,0.002345,0.001892,1,0,1,0,0,1,0,0
29976,29976,0.22,1,0.518987,0,0,-1,-1,-2,-2,...,0.004276,0.013282,0,0,1,0,0,1,0,0
29977,29977,0.04,1,0.594937,2,2,3,2,2,2,...,0.008253,0.000000,1,0,1,0,0,0,1,0
29978,29978,0.42,1,0.430380,0,0,0,0,0,0,...,0.013129,0.009458,0,1,0,0,0,0,1,0
29979,29979,0.31,1,0.493671,0,0,0,0,0,0,...,0.018850,0.019027,0,0,1,0,0,1,0,0
29980,29980,0.18,1,0.405063,-2,-2,-2,-2,-2,-2,...,0.000000,0.000000,0,1,0,0,0,1,0,0
29981,29981,0.05,1,0.531646,0,0,0,0,0,0,...,0.010550,0.003783,0,0,0,1,0,0,1,0
29982,29982,0.05,1,0.556962,1,2,2,2,0,0,...,0.001179,0.001107,0,0,1,0,0,1,0,0
29983,29983,0.09,1,0.455696,0,0,0,0,0,0,...,0.005861,0.000000,1,0,1,0,0,1,0,0
29984,29984,0.02,1,0.556962,-2,-2,-2,-2,-2,-2,...,0.004276,0.003218,0,0,1,0,0,1,0,0
29985,29985,0.03,1,0.481013,-1,-1,-2,-1,-1,-1,...,0.007781,0.001892,0,0,1,0,0,0,1,0
29986,29986,0.24,1,0.379747,-2,-2,-2,-2,-2,-2,...,0.000000,0.000000,0,1,0,0,0,0,1,0
29987,29987,0.36,1,0.443038,-1,-1,-2,-2,-2,-2,...,0.000000,0.000000,0,1,0,0,0,0,1,0
29988,29988,0.13,1,0.430380,0,0,0,0,0,0,...,0.011786,0.007576,0,1,0,0,0,0,1,0
29989,29989,0.25,1,0.430380,0,0,0,0,0,0,...,0.016412,0.011366,0,1,0,0,0,1,0,0
29990,29990,0.15,1,0.443038,-1,-1,-1,-1,-1,-2,...,0.000000,0.000000,0,1,0,0,0,0,1,0
29991,29991,0.14,1,0.518987,0,0,0,0,0,0,...,0.004689,0.003783,0,0,1,0,0,1,0,0
29992,29992,0.21,1,0.430380,3,2,2,2,2,2,...,0.000000,0.000000,1,0,1,0,0,1,0,0
29993,29993,0.01,1,0.544304,0,0,0,-2,-2,-2,...,0.000000,0.000000,0,0,0,1,0,1,0,0
29994,29994,0.10,1,0.481013,0,-1,-1,0,0,0,...,0.004689,0.003783,0,1,0,0,0,0,1,0
29995,29995,0.08,1,0.430380,2,2,2,2,2,2,...,0.000000,0.007566,1,0,1,0,0,0,1,0
29996,29996,0.22,1,0.493671,0,0,0,0,0,0,...,0.011723,0.001892,0,0,0,1,0,1,0,0
29997,29997,0.15,1,0.544304,-1,-1,-1,-1,0,0,...,0.000000,0.000000,0,0,0,1,0,0,1,0
29998,29998,0.03,1,0.468354,4,3,2,-1,0,0,...,0.004689,0.005864,1,0,1,0,0,0,1,0
29999,29999,0.08,1,0.518987,1,-1,0,0,0,-1,...,0.124174,0.003412,1,0,0,1,0,1,0,0
30000,30000,0.05,1,0.582278,0,0,0,0,0,0,...,0.002345,0.001892,1,0,1,0,0,1,0,0

# Normalizando PAY 0..6