In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [2]:
df = pd.read_csv("UCI_Credit_Card.csv", names = ["ID","LIMIT_BAL","SEX","EDUCATION","MARRIAGE","AGE","PAY_0","PAY_2","PAY_3","PAY_4","PAY_5","PAY_6","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6","default.payment.next.month"])
df = df.drop([0])
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

# Conteúdo Original

## A base possui 30k itens e 25 atributos

* **ID**: ID of each client
* **LIMIT_BAL**: Amount of given credit in NT dollars (includes individual and family/supplementary credit
* **SEX**: Gender (1=male, 2=female)
* **EDUCATION**: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)
* **MARRIAGE**: Marital status (1=married, 2=single, 3=others)
* **AGE**: Age in years
* **PAY_0**: Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, ... 8=payment delay for eight months, 9=payment delay for nine months and above)
* **PAY_2**: Repayment status in August, 2005 (scale same as above)
* **PAY_3**: Repayment status in July, 2005 (scale same as above)
* **PAY_4**: Repayment status in June, 2005 (scale same as above)
* **PAY_5**: Repayment status in May, 2005 (scale same as above)
* **PAY_6**: Repayment status in April, 2005 (scale same as above)
* **BILL_AMT1**: Amount of bill statement in September, 2005 (NT dollar)
* **BILL_AMT2**: Amount of bill statement in August, 2005 (NT dollar)
* **BILL_AMT3**: Amount of bill statement in July, 2005 (NT dollar)
* **BILL_AMT4**: Amount of bill statement in June, 2005 (NT dollar)
* **BILL_AMT5**: Amount of bill statement in May, 2005 (NT dollar)
* **BILL_AMT6**: Amount of bill statement in April, 2005 (NT dollar)
* **PAY_AMT1**: Amount of previous payment in September, 2005 (NT dollar)
* **PAY_AMT2**: Amount of previous payment in August, 2005 (NT dollar)
* **PAY_AMT3**: Amount of previous payment in July, 2005 (NT dollar)
* **PAY_AMT4**: Amount of previous payment in June, 2005 (NT dollar)
* **PAY_AMT5**: Amount of previous payment in May, 2005 (NT dollar)
* **PAY_AMT6**: Amount of previous payment in April, 2005 (NT dollar)
* **default.payment.next.month**: Default payment (1=yes, 0=no)

In [3]:
print("Default Credit Card Clients data -  rows:",df.shape[0]," columns:", df.shape[1])

Default Credit Card Clients data -  rows: 30000  columns: 25

In [4]:
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000,...,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000
unique,30000,81,2,7,4,56,11,11,11,11,...,21548,21010,20604,7943,7899,7518,6937,6897,6939,2
top,6985,50000,2,2,2,29,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
freq,1,3365,18112,14030,15964,1605,14737,15730,15764,16455,...,3195,3506,4020,5249,5396,5968,6408,6703,7173,23364

# Não há nenhum valor ausente. Todos os atributos estão preenchidos para todos os itens

In [5]:
total = df.isnull().sum().sort_values(ascending = False)
percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
pd.concat([total, percent], axis=1, keys=['Total', 'Percent']).transpose()

,default.payment.next.month,PAY_6,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,ID
Total,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Corrigindo o atributo Marriage
Trata-se de um atributo categórico em que 0 signfica desconhecido. Para os que não se sabe o status de relacionamento, serão substituídos por 3, que significa "outros".

In [6]:
df['MARRIAGE'] = df['MARRIAGE'].apply(lambda x: 3 if x==0 else x)

# Corrigindo atributo Education
1. Trata-se de um atributo categórico em que 5 e 6 significam desconhecido. Os casos em que que não se sabe o grau de escolaridade, serão substrituídos por 4 que significa "outros".
2. Será feita uma normalização transoformando os atributos categóricos em binários, criando 4 colunas referentes a educação

In [7]:
df['EDUCATION'] = df['EDUCATION'].apply(lambda x: 4 if (x==5 or x==6) else x)

In [8]:
#  EDUCATION: (1=graduate school, 2=university, 3=high school, 4=others)
EDU_graduateschool = df['EDUCATION'].astype(int).apply(lambda x: 1 if x == 1 else 0)
EDU_university = df['EDUCATION'].astype(int).apply(lambda x: 1 if x == 2 else 0)
EDU_highschool = df['EDUCATION'].astype(int).apply(lambda x: 1 if x == 3 else 0)
EDU_others = df['EDUCATION'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df = df.drop(['EDUCATION'], axis=1)
df['EDU_graduateschool'] = EDU_graduateschool
df['EDU_university'] = EDU_university
df['EDU_highschool'] = EDU_highschool
df['EDU_others'] = EDU_others

# Normalizando valores muito grandes
Utilizando MinMaxScaler, a normalização é feita nos atributos LIMIT_BAL, AGE, BILL_AMT1, BILL_AMT2', BILL_AMT3, BILL_AMT4, BILL_AMT5, BILL_AMT6, PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5 e PAY_AMT6

In [9]:
scaler = preprocessing.MinMaxScaler()

df[['LIMIT_BAL','AGE','BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6','PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6']] = scaler.fit_transform(df[['LIMIT_BAL','AGE','BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6','PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6']])

# Normalizando SEX
Para todos que são 2, significando "feminino", será posto 0, ficando com 1 para masculino e 0 para feminino.

In [10]:
df['SEX'] = df['SEX'].astype(int).apply(lambda x: 0 if x == 2 else x)

# Normalizando Marriage
Criando colunas para cada tipo de status Status_married, Status_single, Status_others.

In [11]:
# Marital status (1=married, 2=single, 3=others)
Status_married = df['MARRIAGE'].astype(int).apply(lambda x: 1 if x == 1 else 0)
Status_single = df['MARRIAGE'].astype(int).apply(lambda x: 1 if x == 2 else 0)
Status_others = df['MARRIAGE'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df = df.drop(['MARRIAGE'], axis=1)
df['Status_married'] = Status_married
df['Status_single'] = Status_single
df['Status_others'] = Status_others

# Normalizando PAY[0,2,3,4,5 e 6]
## PAY_0

In [12]:
df['PAY_0_duly'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == -1 else 0)
df['PAY_0_D1'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 1 else 0)
df['PAY_0_D2'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 2 else 0)
df['PAY_0_D3'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df['PAY_0_D4'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df['PAY_0_D5'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 5 else 0)
df['PAY_0_D6'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 6 else 0)
df['PAY_0_D7'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 7 else 0)
df['PAY_0_D8'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 8 else 0)
df['PAY_0_D9'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 9 else 0)
df = df.drop(['PAY_0'], axis=1)

## PAY_2

In [13]:
df['PAY_2_duly'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == -1 else 0)
df['PAY_2_D1'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 1 else 0)
df['PAY_2_D2'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 2 else 0)
df['PAY_2_D3'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df['PAY_2_D4'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df['PAY_2_D5'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 5 else 0)
df['PAY_2_D6'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 6 else 0)
df['PAY_2_D7'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 7 else 0)
df['PAY_2_D8'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 8 else 0)
df['PAY_2_D9'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 9 else 0)
df = df.drop(['PAY_2'], axis=1)

## PAY_3

In [14]:
df['PAY_3_duly'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == -1 else 0)
df['PAY_3_D1'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 1 else 0)
df['PAY_3_D2'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 2 else 0)
df['PAY_3_D3'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df['PAY_3_D4'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df['PAY_3_D5'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 5 else 0)
df['PAY_3_D6'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 6 else 0)
df['PAY_3_D7'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 7 else 0)
df['PAY_3_D8'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 8 else 0)
df['PAY_3_D9'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 9 else 0)
df = df.drop(['PAY_3'], axis=1)

## PAY_4

In [15]:
df['PAY_4_duly'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == -1 else 0)
df['PAY_4_D1'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 1 else 0)
df['PAY_4_D2'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 2 else 0)
df['PAY_4_D3'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df['PAY_4_D4'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df['PAY_4_D5'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 5 else 0)
df['PAY_4_D6'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 6 else 0)
df['PAY_4_D7'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 7 else 0)
df['PAY_4_D8'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 8 else 0)
df['PAY_4_D9'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 9 else 0)
df = df.drop(['PAY_4'], axis=1)

## PAY_5

In [16]:
df['PAY_5_duly'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == -1 else 0)
df['PAY_5_D1'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 1 else 0)
df['PAY_5_D2'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 2 else 0)
df['PAY_5_D3'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df['PAY_5_D4'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df['PAY_5_D5'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 5 else 0)
df['PAY_5_D6'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 6 else 0)
df['PAY_5_D7'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 7 else 0)
df['PAY_5_D8'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 8 else 0)
df['PAY_5_D9'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 9 else 0)
df = df.drop(['PAY_5'], axis=1)

## PAY_6

In [17]:
df['PAY_6_duly'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == -1 else 0)
df['PAY_6_D1'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 1 else 0)
df['PAY_6_D2'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 2 else 0)
df['PAY_6_D3'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df['PAY_6_D4'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df['PAY_6_D5'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 5 else 0)
df['PAY_6_D6'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 6 else 0)
df['PAY_6_D7'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 7 else 0)
df['PAY_6_D8'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 8 else 0)
df['PAY_6_D9'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 9 else 0)
df = df.drop(['PAY_6'], axis=1)

# Conteúdo Normalizado

## A base possui 30k itens e 84 atributos

* **ID**: ID of each client
* **LIMIT_BAL**: Amount of given credit in NT dollars (includes individual and family/supplementary credit
* **SEX**: Gender (1 = male, 0 = female)

* **EDU_graduateschool**: EDUCATION is graduate school (1 = yes, 0 = no)
* **EDU_university**: EDUCATION is university (1 = yes, 0 = no)
* **EDU_highschool**: EDUCATION is high school (1 = yes, 0 = no)
* **EDU_others**: EDUCATION is others (1 = yes, 0 = no)

* **AGE**: Age in years

Repayment status in September, 2005
* **PAY_0_duly**: Pay duly
* **PAY_0_D1**: Payment delay for one month (1 = yes, 0 = no)
* **PAY_0_D2**: Payment delay for two months (1 = yes, 0 = no)
* **PAY_0_D3**: Payment delay for three months (1 = yes, 0 = no)
* **PAY_0_D4**: Payment delay for four months (1 = yes, 0 = no)
* **PAY_0_D5**: Payment delay for five months (1 = yes, 0 = no)
* **PAY_0_D6**: Payment delay for six months (1 = yes, 0 = no)
* **PAY_0_D7**: Payment delay for seven months (1 = yes, 0 = no)
* **PAY_0_D8**: Payment delay for eight months (1 = yes, 0 = no)
* **PAY_0_D9**: Payment delay for nine months and above) (1 = yes, 0 = no)

Repayment status in August, 2005
* **PAY_2_duly**: Pay duly (1 = yes, 0 = no)
* **PAY_2_D1**: Payment delay for one month (1 = yes, 0 = no)
* **PAY_2_D2**: Payment delay for two months (1 = yes, 0 = no)
* **PAY_2_D3**: Payment delay for three months (1 = yes, 0 = no)
* **PAY_2_D4**: Payment delay for four months (1 = yes, 0 = no)
* **PAY_2_D5**: Payment delay for five months (1 = yes, 0 = no)
* **PAY_2_D6**: Payment delay for six months (1 = yes, 0 = no)
* **PAY_2_D7**: Payment delay for seven months (1 = yes, 0 = no)
* **PAY_2_D8**: Payment delay for eight months (1 = yes, 0 = no)
* **PAY_2_D9**: Payment delay for nine months and above) (1 = yes, 0 = no)

Repayment status in July, 2005
* **PAY_3_duly**: Pay duly (1 = yes, 0 = no)
* **PAY_3_D1**: Payment delay for one month (1 = yes, 0 = no)
* **PAY_3_D2**: Payment delay for two months (1 = yes, 0 = no)
* **PAY_3_D3**: Payment delay for three months (1 = yes, 0 = no)
* **PAY_3_D4**: Payment delay for four months (1 = yes, 0 = no)
* **PAY_3_D5**: Payment delay for five months (1 = yes, 0 = no)
* **PAY_3_D6**: Payment delay for six months (1 = yes, 0 = no)
* **PAY_3_D7**: Payment delay for seven months (1 = yes, 0 = no)
* **PAY_3_D8**: Payment delay for eight months (1 = yes, 0 = no)
* **PAY_3_D9**: Payment delay for nine months and above) (1 = yes, 0 = no)

Repayment status in June, 2005
* **PAY_4_duly**: Pay duly (1 = yes, 0 = no)
* **PAY_4_D1**: Payment delay for one month (1 = yes, 0 = no)
* **PAY_4_D2**: Payment delay for two months (1 = yes, 0 = no)
* **PAY_4_D3**: Payment delay for three months (1 = yes, 0 = no)
* **PAY_4_D4**: Payment delay for four months (1 = yes, 0 = no)
* **PAY_4_D5**: Payment delay for five months (1 = yes, 0 = no)
* **PAY_4_D6**: Payment delay for six months (1 = yes, 0 = no)
* **PAY_4_D7**: Payment delay for seven months (1 = yes, 0 = no)
* **PAY_4_D8**: Payment delay for eight months (1 = yes, 0 = no)
* **PAY_4_D9**: Payment delay for nine months and above) (1 = yes, 0 = no)

Repayment status in May, 2005
* **PAY_5_duly**: Pay duly (1 = yes, 0 = no)
* **PAY_5_D1**: Payment delay for one month (1 = yes, 0 = no)
* **PAY_5_D2**: Payment delay for two months (1 = yes, 0 = no)
* **PAY_5_D3**: Payment delay for three months (1 = yes, 0 = no)
* **PAY_5_D4**: Payment delay for four months (1 = yes, 0 = no)
* **PAY_5_D5**: Payment delay for five months (1 = yes, 0 = no)
* **PAY_5_D6**: Payment delay for six months (1 = yes, 0 = no)
* **PAY_5_D7**: Payment delay for seven months (1 = yes, 0 = no)
* **PAY_5_D8**: Payment delay for eight months (1 = yes, 0 = no)
* **PAY_5_D9**: Payment delay for nine months and above) (1 = yes, 0 = no)

Repayment status in April, 2005
* **PAY_6_duly**: Pay duly (1 = yes, 0 = no)
* **PAY_6_D1**: Payment delay for one month (1 = yes, 0 = no)
* **PAY_6_D2**: Payment delay for two months (1 = yes, 0 = no)
* **PAY_6_D3**: Payment delay for three months (1 = yes, 0 = no)
* **PAY_6_D4**: Payment delay for four months (1 = yes, 0 = no)
* **PAY_6_D5**: Payment delay for five months (1 = yes, 0 = no)
* **PAY_6_D6**: Payment delay for six months (1 = yes, 0 = no)
* **PAY_6_D7**: Payment delay for seven months (1 = yes, 0 = no)
* **PAY_6_D8**: Payment delay for eight months (1 = yes, 0 = no)
* **PAY_6_D9**: Payment delay for nine months and above) (1 = yes, 0 = no)

* **BILL_AMT1**: Amount of bill statement in September, 2005 (Scaled between -1 and 1)
* **BILL_AMT2**: Amount of bill statement in August, 2005 (Scaled between -1 and 1)
* **BILL_AMT3**: Amount of bill statement in July, 2005 (Scaled between -1 and 1)
* **BILL_AMT4**: Amount of bill statement in June, 2005 (Scaled between -1 and 1)
* **BILL_AMT5**: Amount of bill statement in May, 2005 (Scaled between -1 and 1)
* **BILL_AMT6**: Amount of bill statement in April, 2005 (Scaled between -1 and 1)

* **PAY_AMT1**: Amount of previous payment in September, 2005 (Scaled between -1 and 1)
* **PAY_AMT2**: Amount of previous payment in August, 2005 (Scaled between -1 and 1)
* **PAY_AMT3**: Amount of previous payment in July, 2005 (Scaled between -1 and 1)
* **PAY_AMT4**: Amount of previous payment in June, 2005 (Scaled between -1 and 1)
* **PAY_AMT5**: Amount of previous payment in May, 2005 (Scaled between -1 and 1)
* **PAY_AMT6**: Amount of previous payment in April, 2005 (Scaled between -1 and 1)

Class
* **default.payment.next.month**: Default payment (1 = yes, 0 = no)

,ID,LIMIT_BAL,SEX,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,...,PAY_6_duly,PAY_6_D1,PAY_6_D2,PAY_6_D3,PAY_6_D4,PAY_6_D5,PAY_6_D6,PAY_6_D7,PAY_6_D8,PAY_6_D9
1,1,0.010101,0,0.051724,0.149982,0.069164,0.086723,0.160138,0.080648,0.260979,...,0,0,0,0,0,0,0,0,0,0
2,2,0.111111,0,0.086207,0.148892,0.067858,0.087817,0.163220,0.084074,0.263485,...,0,0,1,0,0,0,0,0,0,0
3,3,0.080808,0,0.224138,0.172392,0.079532,0.093789,0.173637,0.095470,0.272928,...,0,0,0,0,0,0,0,0,0,0
4,4,0.040404,0,0.275862,0.188100,0.111995,0.113407,0.186809,0.109363,0.283685,...,0,0,0,0,0,0,0,0,0,0
5,5,0.040404,1,0.620690,0.154144,0.071601,0.106020,0.179863,0.099633,0.275681,...,0,0,0,0,0,0,0,0,0,0
6,6,0.040404,1,0.275862,0.203506,0.120381,0.117974,0.178407,0.100102,0.276367,...,0,0,0,0,0,0,0,0,0,0
7,7,0.494949,1,0.137931,0.472126,0.457242,0.330672,0.671310,0.559578,0.625196,...,0,0,0,0,0,0,0,0,0,0
8,8,0.090909,0,0.034483,0.157028,0.066581,0.086675,0.160346,0.080490,0.261414,...,1,0,0,0,0,0,0,0,0,0
9,9,0.131313,0,0.120690,0.156505,0.079598,0.092992,0.171640,0.092342,0.263837,...,0,0,0,0,0,0,0,0,0,0
10,10,0.010101,1,0.241379,0.146519,0.066220,0.086345,0.160138,0.093545,0.271670,...,1,0,0,0,0,0,0,0,0,0
11,11,0.191919,0,0.224138,0.156318,0.075509,0.089384,0.162505,0.082461,0.263846,...,1,0,0,0,0,0,0,0,0,0
12,12,0.252525,0,0.517241,0.157369,0.086786,0.091816,0.168161,0.102747,0.271482,...,0,0,1,0,0,0,0,0,0,0
13,13,0.626263,0,0.344828,0.157259,0.072389,0.089913,0.166261,0.087093,0.263184,...,1,0,0,0,0,0,0,0,0,0
14,14,0.060606,1,0.155172,0.204746,0.130156,0.122417,0.223046,0.116480,0.289331,...,0,0,1,0,0,0,0,0,0,0
15,15,0.242424,1,0.137931,0.209246,0.129862,0.121242,0.216371,0.137043,0.303639,...,0,0,0,0,0,0,0,0,0,0
16,16,0.040404,0,0.034483,0.191307,0.093906,0.101781,0.187240,0.109930,0.284195,...,0,0,0,0,0,0,0,0,0,0
17,17,0.010101,1,0.051724,0.160125,0.083312,0.095913,0.177412,0.098402,0.275660,...,0,0,1,0,0,0,0,0,0,0
18,18,0.313131,1,0.482759,0.370648,0.300190,0.193223,0.226147,0.086455,0.411293,...,1,0,0,0,0,0,0,0,0,0
19,19,0.353535,0,0.482759,0.146519,0.066220,0.086345,0.160138,0.080648,0.260979,...,0,0,0,0,0,0,0,0,0,0
20,20,0.171717,0,0.137931,0.146519,0.066220,0.086345,0.160138,0.080648,0.260979,...,0,0,0,0,0,0,0,0,0,0
21,21,0.121212,0,0.310345,0.180462,0.092497,0.099790,0.179558,0.092351,0.261693,...,1,0,0,0,0,0,0,0,0,0
22,22,0.111111,0,0.310345,0.146799,0.066520,0.086518,0.160138,0.081275,0.261222,...,1,0,0,0,0,0,0,0,0,0
23,23,0.060606,0,0.086207,0.182876,0.106502,0.111062,0.201591,0.127158,0.296338,...,0,0,1,0,0,0,0,0,0,0
24,24,0.444444,0,0.327586,0.151397,0.084651,0.087153,0.160665,0.080648,0.260979,...,0,0,0,0,0,0,0,0,0,0
25,25,0.080808,1,0.034483,0.150717,0.072930,0.086345,0.165223,0.086954,0.267351,...,0,0,0,0,0,0,0,0,0,0
26,26,0.040404,1,0.034483,0.188657,0.105899,0.106123,0.187424,0.110226,0.284069,...,0,0,0,0,0,0,0,0,0,0
27,27,0.050505,1,0.103448,0.146423,0.065817,0.086487,0.160084,0.080774,0.260833,...,1,0,0,0,0,0,0,0,0,0
28,28,0.040404,0,0.155172,0.166465,0.081536,0.095768,0.176979,0.099419,0.276054,...,0,0,0,0,0,0,0,0,0,0
29,29,0.040404,0,0.448276,0.147094,0.069461,0.088220,0.162059,0.110821,0.261176,...,1,0,0,0,0,0,0,0,0,0
30,30,0.040404,1,0.086207,0.160084,0.081951,0.095951,0.177006,0.098868,0.269739,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29971,29971,0.353535,1,0.224138,0.176299,0.116221,0.121521,0.206300,0.089251,0.275954,...,1,0,0,0,0,0,0,0,0,0
29972,29972,0.070707,1,0.258621,0.204527,0.129671,0.123833,0.225770,0.151119,0.317548,...,0,0,0,0,0,0,0,0,0,0
29973,29973,0.181818,1,0.275862,0.165657,0.086049,0.089567,0.187665,0.100099,0.375084,...,1,0,0,0,0,0,0,0,0,0
29974,29974,0.222222,1,0.241379,0.146519,0.066220,0.086345,0.160138,0.080648,0.260979,...,0,0,0,0,0,0,0,0,0,0
29975,29975,0.040404,1,0.275862,0.156168,0.075062,0.088721,0.162819,0.082220,0.261996,...,0,0,0,0,0,0,0,0,0,0
29976,29976,0.212121,1,0.344828,0.186405,0.074610,0.087096,0.165718,0.082392,0.262380,...,0,0,0,0,0,0,0,0,0,0
29977,29977,0.030303,1,0.448276,0.192850,0.118315,0.115672,0.208423,0.127401,0.297047,...,0,0,1,0,0,0,0,0,0,0
29978,29978,0.414141,1,0.224138,0.263270,0.195973,0.163217,0.293613,0.224266,0.374679,...,0,0,0,0,0,0,0,0,0,0
29979,29979,0.303030,1,0.310345,0.357983,0.291326,0.214740,0.366818,0.295362,0.422879,...,0,0,0,0,0,0,0,0,0,0
29980,29980,0.171717,1,0.189655,0.146519,0.066220,0.086345,0.160138,0.080648,0.260979,...,0,0,0,0,0,0,0,0,0,0
29981,29981,0.040404,1,0.362069,0.185452,0.112840,0.113466,0.207576,0.100451,0.276113,...,0,0,0,0,0,0,0,0,0,0
29982,29982,0.040404,1,0.396552,0.180739,0.101118,0.104518,0.186694,0.103133,0.272235,...,0,0,0,0,0,0,0,0,0,0
29983,29983,0.080808,1,0.258621,0.153379,0.074868,0.092003,0.170809,0.092583,0.271990,...,0,0,0,0,0,0,0,0,0,0
29984,29984,0.010101,1,0.396552,0.148131,0.068946,0.087834,0.162853,0.089805,0.262300,...,0,0,0,0,0,0,0,0,0,0
29985,29985,0.020202,1,0.293103,0.146798,0.067096,0.087958,0.162015,0.082539,0.263529,...,1,0,0,0,0,0,0,0,0,0
29986,29986,0.232323,1,0.155172,0.146519,0.066220,0.086345,0.160138,0.080648,0.260979,...,0,0,0,0,0,0,0,0,0,0
29987,29987,0.353535,1,0.241379,0.148484,0.066220,0.086345,0.160138,0.080648,0.260979,...,0,0,0,0,0,0,0,0,0,0
29988,29988,0.121212,1,0.224138,0.167130,0.079580,0.094880,0.261917,0.173566,0.335793,...,0,0,0,0,0,0,0,0,0,0
29989,29989,0.242424,1,0.224138,0.393968,0.306242,0.219803,0.391631,0.254177,0.399065,...,0,0,0,0,0,0,0,0,0,0
29990,29990,0.141414,1,0.241379,0.149550,0.074770,0.086343,0.160873,0.080648,0.260979,...,0,0,0,0,0,0,0,0,0,0
29991,29991,0.131313,1,0.344828,0.268921,0.196372,0.162722,0.290379,0.129904,0.296422,...,0,0,0,0,0,0,0,0,0,0
29992,29992,0.202020,1,0.224138,0.148731,0.068593,0.087717,0.162493,0.083127,0.262900,...,0,0,1,0,0,0,0,0,0,0
29993,29993,0.000000,1,0.379310,0.154308,0.076090,0.086345,0.160138,0.080648,0.260979,...,0,0,0,0,0,0,0,0,0,0
29994,29994,0.090909,1,0.293103,0.149211,0.067575,0.142894,0.226667,0.149535,0.303248,...,0,0,0,0,0,0,0,0,0,0
29995,29995,0.070707,1,0.224138,0.210724,0.139968,0.129930,0.233160,0.162558,0.323347,...,0,0,1,0,0,0,0,0,0,0
29996,29996,0.212121,1,0.310345,0.313716,0.249208,0.200746,0.243036,0.111622,0.273259,...,0,0,0,0,0,0,0,0,0,0
29997,29997,0.141414,1,0.379310,0.148008,0.067955,0.088267,0.168596,0.085794,0.260979,...,0,0,0,0,0,0,0,0,0,0
29998,29998,0.020202,1,0.275862,0.149674,0.069405,0.087859,0.179805,0.101057,0.275854,...,0,0,0,0,0,0,0,0,0,0
29999,29999,0.070707,1,0.344828,0.145064,0.140604,0.128239,0.209850,0.092403,0.298591,...,1,0,0,0,0,0,0,0,0,0
30000,30000,0.040404,1,0.431034,0.188931,0.112633,0.113667,0.194553,0.112803,0.272746,...,0,0,0,0,0,0,0,0,0,0